h1 {
  color: #333333;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: bold;
}
h2 {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
h3 {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
p {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-size: 110%;
}
ul {
  font-family: "Helvetica", "Arial", sans-serif; 
}
ol {
  font-family: "Helvetica", "Arial", sans-serif; 
}
.caption { 
  display: block;
  color: red;
  font-weight: bold;
}
.book .book-body .page-wrapper .page-inner section.normal blockquote {
    margin: 0 0 .85em;
    padding: 0 15px;
    opacity: 1.00;
    border-left: 10px solid red;
}

blockquote {
  background: #FFFFFF;
  color: #000;
  border-left: 10px solid red;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote p {
  display: inline;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: black;
}