h1 {
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
h2 {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
h3 {
  color: black;
  font-family: "Helvetica", "Arial", sans-serif; 
  font-weight: normal;
}
p {
  font-family: "Helvetica", "Arial", sans-serif;
}
li {
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 100%;
}
blockquote { 
  font-family: "Helvetica", "Arial", sans-serif; 
  padding: 10px;
  border-left: 10px solid #375E97;
  margin: 10px;
  }
.list-group-item.active, 
.list-group-item.active:focus, 
.list-group-item.active:hover {
    z-index: 2;
    color: #fff;
    background-color: #375E97;
    border-color: #375E97;
}